/*! _layout.scss | Krypton | CSS Ninja */

/* ==========================================================================
Layout styles
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
1. Index Hero
=============================================================================
***/

/* ==========================================================================
1. Index Hero and Navbar
2. Main content wrapper
3. Partners and Client logos
4. Token page
========================================================================== */

body {
    overflow: hidden;
    height: 100%;

}

/* ==========================================================================
1. Home Hero and Navbar
========================================================================== */

.home-wrapper {
    
    
    //background: url(../img/bg/gradient-left-darker.png) repeat-y top left, url(../img/bg/gradient-right-darker.png) repeat-y top right, #1c004c;
    .hero{
        background: url(../img/bg/gradient-left-darker.png) repeat-y top left, url(../img/bg/gradient-right-darker.png) repeat-y top right, #1c004c;  
    }

    @media (min-width: 720px) {
        #myelement1 { height: 40%; float:right; justify-content: center;}
        #myelement2 {margin-top:-1.48em} 
        #myelement3{    width: 9vw;  height: 4vh;}
    }
    @media (max-width: 1024px) {#myelement1 { height: 40%;}#myelement2 {width:100%; height:100%; margin-top:-1.48em} 

   
    }
    #middle-image{
        margin-top: 0.35em;
    }

    
    .image-gallery {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        float: right;
      }
      
      .image-gallery > li {
        height: 300px;
        cursor: pointer;
        position: relative;
        float: left;
      }
      .image-gallery li img:hover {
        cursor: pointer;
        opacity: 0.3;
      }
      
      .image-gallery li img {
        object-fit: cover;
        float:left;
        width: auto;
      }
      @media (min-width:1048px) {
        .image-gallery{
            padding-top:18%; margin-left:20%;
          }
      }
   

      #logos{
        width:60%; 
        filter: brightness(0) invert(1);
      }
      #logos:hover{
        opacity: 0.3;

      }
      @media (max-width: 770px) {
      #ethereum-logo{
        margin-left: 5.5rem;
      }}

      #myelement1:hover {
        cursor: pointer;
        opacity: 0.3;
      }
      #myelement2:hover {
        cursor: pointer;
        opacity: 0.3;
      }
      #myelement3:hover {
        cursor: pointer;
        opacity: 0.3;
      }
}

.hero, .section {
    &.is-transparent {
        background: transparent !important;
    }
}

//Hero
.hero {
    position: relative;

    .animation-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100vh;
    }

    .landing-caption {
        .subtitle {
            max-width: 420px;
        }
    }

    //Background gradient
    &.is-hero-gradient {
        @include theme-hero-gradient;
    }

    //Floating squares image
    .hero-square {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    //Js particles
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    //Navbar
    .navbar {
        position: relative;
        min-height: 4rem;
        transition: all .3s;
        z-index: 99;

        .container {
            min-height: 4rem;
        }

        //Responsive menu icon
        .navbar-burger {
            width: 3rem;
            height: 3rem;
        }

        //Brand
        .navbar-brand {
            min-height: 3rem;

            img {
                max-height: 36px !important;
                height: 36px;
            }

            //brand text
            .brand-name {
                font-family: 'Cabin', sans-serif;
                font-weight: 600;
                padding: 0 10px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-size: .85rem !important;
            }

            //Removing navbar item default hover behaviour
            &:hover {
                .navbar-item {
                    background: transparent !important;
                }
            }
        }

        //Navbar items
        .navbar-item {
            a.button {
                font-family: 'Cabin', sans-serif;
                text-transform: uppercase;

                &.hover {
                    font-size: .75rem !important;
                    font-weight: 500 !important;
                }
            }

            //Nav link modifier
            &.is-nav-link {
                a {
                    font-family: 'Cabin', sans-serif;
                    text-transform: uppercase;
                    font-size: .75rem;
                }
            }

            a.is-active {
                color: $secondary;
            }
        }

        //Color modifiers
        &.is-light, &.is-dark {
            .navbar-brand {
                .brand-name {
                    color: $white;
                }

                .navbar-link::after {
                    border-color: $white;
                }
            }

            .navbar-item {
                a {
                    color: $white;
                }
            }

            .navbar-burger .rotate i {
                background-color: $white !important;
            }

            //Responsive menu
            .navbar-menu {
                &.is-active {
                    background: #2d0275 !important;
                    position: absolute;
                    width: 100%;
                }
            }
        }

        //Fixed navbar modifier
        &.is-fixed {
            min-height: 4rem !important;
            background: $white;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

            a {
                color: $dark-text;

                &:hover {
                    color: $primary;
                }
            }

            //Dark modifier
            &.is-dark {
                background: #2d0275 !important;

                a {
                    color: $white;

                    &:hover {
                        color: #fcfcfc;
                    }
                }

                .navbar-menu {
                    &.is-active {
                        background: #2d0275 !important;
                    }
                }
            }
        }
    }

    //Cloned fixed navbar
    #navbar-clone {
        background-color: darkblue;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        z-index: 100;

        &.is-active {
            transform: translateY(0);
        }
    }

    //logo
    .hero-logo {
        height: 100px;
    }
    .whitten{
        filter: brightness(0) invert(1);
    }
    @media (max-width: 770px) {
    #box-left{
        margin-left:8%
    }
   
    }
}



/* ==========================================================================
2. Main content wrapper
========================================================================== */

.content-wrapper {
    padding: 10px 0;
    position: relative;
    z-index: 2;

    //Medium size modifier
    &.is-medium {
        padding: 40px 0;
    }

    //Large size modifier
    &.is-large {
        padding: 60px 0;
    }
}

/* ==========================================================================
3. Sections
========================================================================== */

.section {
    outline: none !important;
    position: relative;

    //Outline reset
    &:active, &:focus {
        outline: none !important;
    }

    //relative modifier
    &.is-relative {
        position: relative;
    }

    //Background colors
    &.is-dark {
        background: #3c019e;
    }

    &.is-darker {
        background: #320184;
    }

    &.is-darkest {
        background: #270068;
    }

    &.is-end {
        background: #1c004c;
    }

    //Background shapes
    .has-bg-shapes {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
}

//Radial gradient background
.has-big-gradient {
    background: url(../img/bg/gradient-left.png) no-repeat top left, url(../img/bg/gradient-right.png) no-repeat top right, #320184;
}

//Dark radial gradient background
.has-big-dark-gradient {
    background: url(../img/bg/gradient-left-darker.png) no-repeat top left, url(../img/bg/gradient-right-darker.png) no-repeat top right, #1c004c;
}

//CTA Spacing
.cta-wrapper {
    margin: 30px 0;

    &.is-small {
        margin: 20px 0;
    }
}

/* ==========================================================================
1. Titles
========================================================================== */

//Buy title
.buy-title {
    padding: 20px 0;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    font-size: .8rem;
    color: $white;
    opacity: 0.7;
}


//Common styles
.title, .subtitle {
    //lighttext modifier
    &.is-light {
        color: $white;

        + p {
            color: $white;
        }
    }

    //Semibold modifier
    &.is-semibold {
        font-weight: 600;
    }

    //Thin modifier
    &.is-thin {
        font-weight: 300 !important;
    }

    //Uppercase modifier
    &.is-uppercase {
        text-transform: uppercase;
    }

    //Small spacing modifier
    &.is-tight {
        margin-bottom: 10px !important;
    }

    //Ultra small spacing modifier
    &.is-compressed {
        margin-bottom: 5px !important;
    }
}

//Titles
.title {
    font-family: 'Cabin', sans-serif;

    &.main-title {
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.1);
    }
}

//Subtitles
.subtitle {
    font-family: 'Cabin', sans-serif;
    opacity: 0.8;

    &.is-compact {
        max-width: 600px;
        margin: 0 auto;
    }
}

//Divider
.divider {
    height: 3px;
    width: 75px;

    @include primary-gradient-left;

    margin: 20px 0;

    //Centered modifier
    &.is-centered {
        margin: 20px auto;
    }

    //Long modifier
    &.is-long {
        width: 150px;
    }

    //Acts as a spacing element
    &.is-spacer {
        margin-top: 120px;
    }
}

/* ==========================================================================
3. Partners and Client logos
========================================================================== */

//Wrapper
.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    //Item
    .partner-item {
        margin: 0 10px;

        img {
            height: 100px;
        }
    }
}

.grafana-wrapper {
    background: url(../img/bg/bg-token-top.png) no-repeat top center, url(../img/bg/bg-token-left.png) no-repeat top left, url(../img/bg/bg-token-bottom.png) no-repeat bottom right, #1c004c;
}

/* ==========================================================================
4. Token page
========================================================================== */

.monitoring-wrapper {
    background: url(../img/bg/bg-token-top.png) no-repeat top center, url(../img/bg/bg-token-left.png) no-repeat top left, url(../img/bg/bg-token-bottom.png) no-repeat bottom right, #1c004c;
}

.monitoring-wrapper {
    .monitoring-image img {
        height: 60vh;
        width: 60vw;
        margin-left: 3vw;
    }

    .is-ico-details {
        .details-title {
            color: $white;
            padding: 5px 0;
        }

        ul {
            li::before {
                content: "- ";
                color: $light-blue;
            }

            li {
                font-size: .85rem;
                color: $light-blue;
            }
        }
    }

    .ico-repartition {
        height: 380px;
    }

    .repartition-details {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .repartition-block {
            .color-dot {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin: 10px auto;

                &.is-reward {
                    @include secondary-gradient-top;
                }

                &.is-presale {
                    @include primary-gradient-right;
                }

                &.is-sale {
                    background: $primary-accent;
                }
            }

            .share-title {
                font-family: 'Cabin', sans-serif;
                text-transform: uppercase;
                color: rgba(94, 147, 255, 0.9);
                padding: 5px 0;
            }

            .percentage {
                font-family: 'Cabin', sans-serif;
                color: rgba(94, 147, 255, 0.9);
            }
        }
    }




}

/* ==========================================================================
5. ICO Page
========================================================================== */
.available_networks-wrapper {
    background: url(../img/bg/bg-token-top.png) no-repeat top center, url(../img/bg/bg-token-left.png) no-repeat top left, url(../img/bg/bg-token-bottom.png) no-repeat bottom right, #1c004c;
}
.available_networks-wrapper {
    .available_networks-image img {
        height: 220px;
    }
    @media screen and (max-width: 720px) {
    #bt{
        max-width: 50vw;
        width: auto;
        margin-left: 15%;
    
    }
    #logos{
        margin-left: 15%;
    }
}



.available_networks-end {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    left: 2px;

    img {
        height: 450px;
        display: block;
        margin: 0 auto;
    }
  }   
}

    
    
    

  
/* ==========================================================================
6. managment page
========================================================================== */

.management-wrapper {
    background: url(../img/bg/bg-token-top.png) no-repeat top center, url(../img/bg/bg-token-left.png) no-repeat top left, url(../img/bg/bg-token-bottom.png) no-repeat bottom right, #1c004c;
}

.management-wrapper {
    .management-image img {
        height: 280px;
    }

    .main-timeline {
        outline: none !important;

        &:active, &:focus {
            outline: none !important;
        }

        ul {
            //background: #456990;
            //padding: 20px 0;
            padding-bottom: 50px;
        }

        ul li {
            list-style-type: none;
            position: relative;
            width: 1px;
            margin: 0 auto;
            padding-top: 50px;
            background: rgba(0, 83, 251, 0.5);
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0 25px 0 rgba(18, 60, 255, 0.16);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0 25px 0 rgba(18, 60, 255, 0.16);

            &:before {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 50%;
                width: 32px;
                height: 32px;
                border: 1px solid rgba(0, 83, 251, 0.5);
                -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0 25px 0 rgba(18, 60, 255, 0.16);
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0 25px 0 rgba(18, 60, 255, 0.16);
                border-radius: 50%;
                background: #1c004c;
                transform: translateX(-50%);
            }
        }

        ul li::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;

            //background: $light-blue;
            background: rgba(0, 83, 251, 0.5);
        }

        ul li div {
            position: relative;
            bottom: 0;
            width: 400px;
            border-radius: 1px;
            padding: 30px;
            color: $light-blue;
            background: rgba(17, 149, 247, 0.08);
            border: 1px solid rgba(0, 83, 251, 0.5);
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0 25px 0 rgba(18, 60, 255, 0.16);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0 25px 0 rgba(18, 60, 255, 0.16);

            span {
                display: block;

                &.item-title {
                    color: $white;
                    font-family: 'Cabin', sans-serif;
                    font-size: 1.2rem;
                }

                &.item-content {
                    font-size: .9rem;
                }

                &.more {
                    text-transform: uppercase;
                    font-size: .8rem;
                    padding-top: 20px;

                    svg {
                        stroke-width: 1.4px;
                        width: 18px;
                        height: 18px;
                        position: relative;
                        top: 2px;
                    }

                    a {
                        transition: all .3s;
                        font-family: 'Cabin', sans-serif;

                        &:hover {
                            color: $light-blue;
                            opacity: 0.7;
                        }
                    }
                }
            }

           
        }

        ul li div::before {
            content: '';
            position: absolute;
            bottom: 7px;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: $light-blue;
        }

        ul li:nth-child(odd) div {
            left: 45px;
        }

        ul li:nth-child(odd) div::before {
            left: -8px;
            border-width: 8px 8px 8px 0;
            border-color: transparent rgba(0, 83, 251, 0.5) transparent transparent;
        }

        ul li:nth-child(even) div {
            left: -439px;
        }

        ul li:nth-child(even) div::before {
            right: -8px;
            border-width: 8px 0 8px 8px;
            border-color: transparent transparent transparent rgba(0, 83, 251, 0.5);
        }

        /* EFFECTS
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        ul li::after {
            transition: background .5s ease-in-out;
        }

        ul li.in-view::after {
            background: $light-blue;

            //background: rgba(0,83,251,.5);
       
        }

        ul li div {
            visibility: hidden;
            opacity: 0;
            transition: all .5s ease-in-out;
        }

        ul li:nth-child(odd) div {
            transform: translate3d(200px, 0, 0);
        }

        ul li:nth-child(even) div {
            transform: translate3d(-200px, 0, 0);
        }

        ul li.in-view div {
            transform: none;
            visibility: visible;
            opacity: 1;
        }

        /* GENERAL MEDIA QUERIES
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        @media screen and (max-width: 900px) {
            ul li div {
                width: 250px;
            }

            ul li:nth-child(even) div {
                left: -289px;

                /*250+45-6*/
            }
        }

        @media screen and (max-width: 600px) {
            ul li {
                margin-left: 20px;
            }

            ul li div {
                width: calc(100vw - 91px);
            }

            ul li:nth-child(even) div {
                left: 45px;
            }

            ul li:nth-child(even) div::before {
                left: -8px;
                border-width: 8px 8px 8px 0;
                border-color: transparent rgba(0, 83, 251, 0.5) transparent transparent;
            }
        }
    }
}

.management-end {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    left: 2px;

    img {
        height: 450px;
        display: block;
        margin: 0 auto;
    }
}



.container .steps{
   margin-top:30px; margin-bottom:30px;
}
/* ==========================================================================
7. Media page
========================================================================== */

.benchmarking_engine-wrapper {
    background: url(../img/bg/gradient-left-darker.png) no-repeat top left, url(../img/bg/gradient-right-darker.png) no-repeat top right, #1c004c;
    .highlight table td { padding: 5px; }

    .highlight table pre { margin: 0; }

    .highlight, .highlight .w { color: #d0d0d0; }

    .highlight .err { color: #151515; background-color: #ac4142; }

    .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs { color: #888; }

    .highlight .cp { color: #f4bf75; }

    .highlight .nt { color: #f4bf75; }

    .highlight .o, .highlight .ow { color: #d0d0d0; }

    .highlight .p, .highlight .pi { color: #d0d0d0; }

    .highlight .gi { color: #90a959; }

    .highlight .gd { color: #ac4142; }

    .highlight .gh { color: #6a9fb5; font-weight: bold; }

    .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv { color: #aa759f; }

    .highlight .kc { color: #d28445; }

    .highlight .kt { color: #d28445; }

    .highlight .kd { color: #d28445; }

    .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 { color: #90a959; }

    .highlight .sr { color: #75b5aa; }

    .highlight .si { color: #8f5536; }

    .highlight .se { color: #8f5536; }

    .highlight .nn { color: #f4bf75; }

    .highlight .nc { color: #f4bf75; }

    .highlight .no { color: #f4bf75; }

    .highlight .na { color: #6a9fb5; }

    .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx { color: #90a959; }

    .highlight .ss { color: #90a959; }
    .renderjson a { text-decoration: none; }

    .renderjson .disclosure { color: crimson; font-size: 150%; }

    .renderjson .syntax { color: grey; }

    .renderjson .string { color: red; }

    .renderjson .number { color: black; font-size: 18px;  }

    .renderjson .boolean { color: plum; }

    .renderjson .key { color: lightblue; }

    .renderjson .keyword { color: lightgoldenrodyellow; }

    .renderjson .object.syntax { color: lightseagreen; }

    .renderjson .array.syntax { color: lightsalmon; }

    .highlight .nc { color: plum; font-weight: normal; }

    .highlight .nt { color: lightblue; }

    code, pre { margin-bottom: 30px; font-family: Monaco, 1.3rem Inconsolata, monospace; font-size: 14px; color: #222; }

    code { padding: 0 3px; background-color: #f2f2f2; border: solid 1px #ddd; }

    pre { padding: 20px; overflow: auto; color: #f2f2f2; text-shadow: none; background: #303030; }

    pre code { padding: 0; color: #f2f2f2; background-color: #303030; border: none; }

    .b-table {
        .table thead td, .table thead th {
            color:whitesmoke;
            font-weight: normal;

        }
        
        table{
        background-color: transparent;
        color: $white;
        tr {           
              &:hover {
                background-color: transparent!important;
                opacity: 0.8;
              }        
        }
       
        thead{
            color: $white; 
        }
        tbody, td, tfoot, th, thead, tr:hover{
            background-color: inherit;
        }
        tr.detail{
            background-color: transparent;
            color: $white;
            border-radius: 0%;
            border-style: hidden;
            border-width: 0ch;
            
        }

        tr.detail:hover{
            background-color: $light-blue;
        }
        .detail-container{
            background-color: transparent;
        }
        }
    }

    .benchmarking_engine-image img {
        height: 550px;
    }

   



    .archives-widget {
        margin-bottom: 20px;

        .widget-title {
            font-family: 'Cabin', sans-serif;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: $light-blue;
            padding: 0 20px;
        }

        .select {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: 40px;
            margin: 20px;
        }

        .option {
            font-size: .9rem;
            font-family: 'Cabin' sans-serif;
            font-weight: 300 !important;
            padding: 0 30px 0 10px;
            min-height: 40px;
            display: flex;
            align-items: center;
            background: #1c004c;
            color: $white;
            border-top: 1px solid lighten(#1c004c, 5%);
            position: absolute;
            top: 0;
            width: 100%;
            pointer-events: none;
            order: 2;
            z-index: 1;
            transition: background .4s ease-in-out;
            box-sizing: border-box;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
        }

        .option:hover {
            background: lighten(#1c004c, 2%);
        }

        .select:focus .option {
            position: relative;
            pointer-events: all;
        }

        input {
            opacity: 0;
            position: absolute;
            left: -99999px;
        }

        input:checked + label {
            order: 1;
            z-index: 2;
            background: #1c004c;
            border-top: none;
            position: relative;
        }

    /*input:checked + label:after {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
}*/

        input:checked + label:before {
            position: absolute;
            right: 0;
            height: 40px;
            width: 40px;
            content: '';
            background: #1c004c;
        }
    }

   

    //Single post
    .benchmarking_engine-featured {
        width: 100%;
        height: auto;
        border-radius: 6px;
        box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
    }



    

    //Container
.flying-tabs-container {
    max-width: 720px;
    margin: 0 auto;

    //tabs
    .flying-tabs {
        //tab-item
        .tablinks{
            text-align: center;
            cursor: pointer;
            color: $white ;
           

            &:hover  {
                color: lighten(#1e004f, 15%);
            }

            &.active  {
                color: #1ee0d5!important;
            }
        }

        //link element
        button {
            font-family: 'Cabin', sans-serif;
            display: inline-block;
            width: 10rem;
            border-radius: 10px;
            padding: .75rem 0;
            color: inherit;
            border: 2px solid ;
            
        }

        //Settings for underline
        .tab-xrpl.active ~ .slider{
            margin-left: 75%;
        }

        .tab-geth.active ~ .slider {
            margin-left: 25%;
        }

        .tab-stellar-docker-testnet.active ~ .slider {
            margin-left: 50%;
        }

        .tab-besu-poa.active ~ .slider {
            margin-left: 0%;
        }

        //Flying underline
        .slider {
            height: 2px;
            border-radius: 10px;
            width: 25%;
            margin: 0;

            @include primary-gradient-top;

            border: none;
            transition: .3s ease-in-out;
        }
    }
}

//Tab content
.tabcontent {
    display: none;
    min-height: 60rem;
    min-width: 70rem;
    width: 100%;
    margin-top: 40px;

    //Active state
    &.active {
        display: inherit;
        color: #1ee0d5;
        
    }

   
    }

    //Text content
    .text-content {
        p {
            animation-delay: .15s;
            padding: 10px 0;
            color: $white;
            font-family: 'Cabin', sans-serif;
            font-weight: 300;
            
        }

        //Bullet list
        .custom-bullet-list {
            li::before {
                content: "೦ ";
                color: $secondary;
            }

            li {
                padding: 10px 0;
                color: $white;
                font-family: 'Cabin', sans-serif;
                font-weight: 300;

                &:first-child {
                    animation-delay: .15s;
                }

                &:nth-child(2) {
                    animation-delay: .2s;
                }

                &:nth-child(3) {
                    animation-delay: .25s;
                }

                span {
                    &:first-child {
                        font-family: 'Cabin', sans-serif;
                    }

                    &.item-content {
                        margin: 0 16px !important;
                        font-size: 90%;
                        font-family: 'Cabin', sans-serif;
                        font-weight: 300;
                        color: #e8e8e8;
                    }
                }
            }
        }
    }



}
